.box {
  background-color: white;
  width: 20%;
  height: 15%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  text-decoration: none;
  &:active {
    color: black;
  }
  &:visited {
    color: black;
  }
}
